<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">

</head>
<body>

  
    <h1>Picolo</h1>


  <h1></h1>
  <% for (let produto of produtos){ %>
  <div class="cardix">
    <a href="/produtos/<%= produto.id%>">
    <img src="/imagem/<%=produto.imagem%>" class="imagem">

    <h3 class="perfume-h3"><%= produto.nome%></h3>
    <p class="perfume-p"><%= produto.preco%></p>
    <p class="perfume-p"><%= produto.marca%></p>
    <p class="perfume-p"><%= produto.descricao%></p>
    <button class="botao">Voltar</button>
  </a>
  </div>
  <% } %>
 



</body>
</html>