
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
</head>
<body>

<div class="cardix">

        <img src="/imagem/<%=produto.imagem%>" class="imagem"></img>
        <h3 class="perfume-h3"><%= produto.nome%></h3>
        <p class="perfume-p"><%= produto.preco%></p>
        <p class="perfume-p"><%= produto.marca%></p>
        <p class="perfume-p"><%= produto.descricao%></p>
        </div>


</body>
</html>